<a href="https://colab.research.google.com/github/DerizhyLouise/RevoU-Data-Analytics-Capstone-Project/blob/main/DataAnalytics-Question3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive

drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd '/content/drive/MyDrive/Data - Analysis'

/content/drive/MyDrive/Data - Analysis

In [ ]:
sales_product = pd.read_csv('sales-product.csv')

In [ ]:
sales_product

,sales_id,order_id,product_id,price_per_unit,quantity_x,total_price,product_type,product_name,size,colour,quantity_y,description,price
0,0,1,218,106,2,212,Shirt,Chambray,L,orange,44,"A orange coloured, L sized, Chambray Shirt",106.0
1,1129,233,218,106,3,318,Shirt,Chambray,L,orange,44,"A orange coloured, L sized, Chambray Shirt",106.0
2,4616,924,218,106,2,212,Shirt,Chambray,L,orange,44,"A orange coloured, L sized, Chambray Shirt",106.0
3,1,1,481,118,1,118,Jacket,Puffer,S,indigo,62,"A indigo coloured, S sized, Puffer Jacket",118.0
4,349,79,481,118,2,236,Jacket,Puffer,S,indigo,62,"A indigo coloured, S sized, Puffer Jacket",118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4848,970,510,102,1,102,Jacket,Windbreaker,XS,blue,59,"A blue coloured, XS sized, Windbreaker Jacket",102.0
4996,4864,973,255,95,3,285,Shirt,Polo,XS,yellow,79,"A yellow coloured, XS sized, Polo Shirt",95.0
4997,4883,977,735,109,2,218,Jacket,Peacoat,XS,red,66,"A red coloured, XS sized, Peacoat Jacket",109.0
4998,4912,982,659,93,2,186,Jacket,Coach,XL,indigo,67,"A indigo coloured, XL sized, Coach Jacket",93.0
4999,4998,999,998,106,2,212,Trousers,Wool,L,green,42,"A green coloured, L sized, Wool Trousers",106.0

## EDA (Exploratory Data Analysis)

In [ ]:
df_eda = sales_product.copy()
df_eda.head()

,sales_id,order_id,product_id,price_per_unit,quantity_x,total_price,product_type,product_name,size,colour,quantity_y,description,price
0,0,1,218,106,2,212,Shirt,Chambray,L,orange,44,"A orange coloured, L sized, Chambray Shirt",106.0
1,1129,233,218,106,3,318,Shirt,Chambray,L,orange,44,"A orange coloured, L sized, Chambray Shirt",106.0
2,4616,924,218,106,2,212,Shirt,Chambray,L,orange,44,"A orange coloured, L sized, Chambray Shirt",106.0
3,1,1,481,118,1,118,Jacket,Puffer,S,indigo,62,"A indigo coloured, S sized, Puffer Jacket",118.0
4,349,79,481,118,2,236,Jacket,Puffer,S,indigo,62,"A indigo coloured, S sized, Puffer Jacket",118.0

# Descriptive Analytics

In [ ]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity_x      5000 non-null   int64
 5   total_price     5000 non-null   int64
 6   product_type    5000 non-null   object
 7   product_name    5000 non-null   object
 8   size            5000 non-null   object
 9   colour          5000 non-null   object
 10  quantity_y      5000 non-null   int64
 11  description     5000 non-null   object
 12  price           5000 non-null   float64
dtypes: float64(1), int64(7), object(5)
memory usage: 507.9+ KB

# Product Type

How many product type?

In [ ]:
df_eda['product_type'].nunique()

3

What types?

In [ ]:
df_eda['product_type'].values

array(['Shirt', 'Shirt', 'Shirt', ..., 'Jacket', 'Jacket', 'Trousers'],
      dtype=object)

In [ ]:
df_eda['product_type'].value_counts()

Trousers    1683
Jacket      1676
Shirt       1641
Name: product_type, dtype: int64

# Product Name

How many product name?

In [ ]:
df_eda['product_name'].nunique()

35

What are the product name?

In [ ]:
df_eda['product_name'].values

array(['Chambray', 'Chambray', 'Chambray', ..., 'Peacoat', 'Coach',
       'Wool'], dtype=object)

In [ ]:
df_eda['product_name'].value_counts()

Denim                273
Joggers              164
Slim-Fit             154
Casual Slim Fit      154
Bomber               150
Shearling            150
Drawstring           147
Pleated              147
Trench Coat          146
Henley               146
Relaxed Leg          146
Oxford Cloth         146
Windbreaker          143
Pullover             143
Flannel              141
Chambray             141
High-Waisted         140
Puffer               140
Camp Collared        139
Leather              136
Chinos               135
Cropped              135
Cardigan             134
Cargo Pants          134
Coach                134
Parka                134
Peacoat              132
Linen                131
Polo                 131
Tracksuit Bottoms    130
Dress                127
Cords                126
Wool                 125
Mandarin Collar      124
Cuban Collar         122
Name: product_name, dtype: int64

How many product name in each product type?

In [ ]:
df_prodtype = df_eda.groupby(['product_type'])['product_name'].nunique().reset_index().sort_values(by='product_type', ascending=True)
print(df_prodtype)

  product_type  product_name
0       Jacket            12
1        Shirt            12
2     Trousers            12

# Size

How many size?

In [ ]:
df_eda['size'].nunique()

5

What sizes?

In [ ]:
df_eda['size'].values

array(['L', 'L', 'L', ..., 'XS', 'XL', 'L'], dtype=object)

In [ ]:
df_eda['size'].value_counts()

M     1022
L     1002
XS    1001
S      998
XL     977
Name: size, dtype: int64

How many size in each product name?

In [ ]:
df_prodname = df_eda.groupby(['product_name'])['size'].nunique().reset_index().sort_values(by='product_name', ascending=True)
print(df_prodname)

         product_name  size
0              Bomber     5
1       Camp Collared     5
2            Cardigan     5
3         Cargo Pants     5
4     Casual Slim Fit     5
5            Chambray     5
6              Chinos     5
7               Coach     5
8               Cords     5
9             Cropped     5
10       Cuban Collar     5
11              Denim     5
12         Drawstring     5
13              Dress     5
14            Flannel     5
15             Henley     5
16       High-Waisted     5
17            Joggers     5
18            Leather     5
19              Linen     5
20    Mandarin Collar     5
21       Oxford Cloth     5
22              Parka     5
23            Peacoat     5
24            Pleated     5
25               Polo     5
26             Puffer     5
27           Pullover     5
28        Relaxed Leg     5
29          Shearling     5
30           Slim-Fit     5
31  Tracksuit Bottoms     5
32        Trench Coat     5
33        Windbreaker     5
34               Wool     5

# Colour

How many colour?

In [ ]:
df_eda['colour'].nunique()

7

What colours?

In [ ]:
df_eda['colour'].values

array(['orange', 'orange', 'orange', ..., 'red', 'indigo', 'green'],
      dtype=object)

In [ ]:
df_eda['colour'].value_counts()

blue      762
violet    739
indigo    726
orange    697
green     694
red       692
yellow    690
Name: colour, dtype: int64

How many colour in each product name?

In [ ]:
df_colourprod= df_eda.groupby(['product_name'])['colour'].nunique().reset_index().sort_values(by='product_name', ascending=True)
print(df_colourprod)

         product_name  colour
0              Bomber       7
1       Camp Collared       7
2            Cardigan       7
3         Cargo Pants       7
4     Casual Slim Fit       7
5            Chambray       7
6              Chinos       7
7               Coach       7
8               Cords       7
9             Cropped       7
10       Cuban Collar       7
11              Denim       7
12         Drawstring       7
13              Dress       7
14            Flannel       7
15             Henley       7
16       High-Waisted       7
17            Joggers       7
18            Leather       7
19              Linen       7
20    Mandarin Collar       7
21       Oxford Cloth       7
22              Parka       7
23            Peacoat       7
24            Pleated       7
25               Polo       7
26             Puffer       7
27           Pullover       7
28        Relaxed Leg       7
29          Shearling       7
30           Slim-Fit       7
31  Tracksuit Bottoms       7
32        Trench Coat       7
33        Windbreaker       7
34               Wool       7

# Quantity Sales

How many products were sold in Jan - Des 2021?

In [ ]:
df_eda['quantity_x'].sum()

9962

How many maximum selling?

In [ ]:
df_eda['quantity_x'].max()

3

What products name sell the most?

In [ ]:
# Mengelompokkan berdasarkan 'product_name' dan menghitung jumlah penjualan
total_quantity = df_eda.groupby('product_name')['quantity_x'].sum()

# Menemukan nama produk dengan jumlah penjualan terbesar
produk_terbesar = total_quantity.idxmax()

produk_terbesar

'Denim'

How many minimum selling?

In [ ]:
df_eda['quantity_x'].min()

1

What product name has the lowest sales?

In [ ]:
# Mengelompokkan berdasarkan 'product_name' dan menghitung jumlah penjualan
total_quantity = df_eda.groupby('product_name')['quantity_x'].sum()

# Menemukan nama produk dengan jumlah penjualan terendah
produk_terkecil = total_quantity.idxmin()

produk_terkecil

'Mandarin Collar'

# Price Per Unit

What is average price per unit?

In [ ]:
df_eda['price_per_unit'].mean()

103.5016

What is the maximum price?

In [ ]:
df_eda['price_per_unit'].max()

119

What is the minimum price?

In [ ]:
df_eda['price_per_unit'].min()

90

What product name has the highest price per unit?

In [ ]:
produk_paling_mahal = df_eda.loc[df_eda['price_per_unit'].idxmax(), 'product_name']
harga_tertinggi = df_eda['price_per_unit'].max()

produk_paling_mahal

'Trench Coat'

In [ ]:
produk_paling_mahal = df_eda.loc[df_eda['price_per_unit'].idxmax(), 'product_name']
harga_tertinggi = df_eda['price_per_unit'].max()

harga_tertinggi

119

What product name has the lowest price per unit?

In [ ]:
produk_paling_murah = df_eda.loc[df_eda['price_per_unit'].idxmin(), 'product_name']
harga_tertinggi = df_eda['price_per_unit'].min()

produk_paling_murah

'Relaxed Leg'

# Total Price

Which product name generates most revenue?

In [ ]:
highest_revenue_product = df_eda.loc[df_eda['total_price'].idxmax(), 'product_name']
total_revenue_highest = df_eda['total_price'].max()

print(f'Product generating the most revenue: {highest_revenue_product}')
print(f'Total revenue from the product: {total_revenue_highest}')

Product generating the most revenue: Trench Coat
Total revenue from the product: 357

Which product type generates most revenue?

In [ ]:
# Grouping by product type and summing the total prices
revenue_by_product_type = df_eda.groupby('product_type')['total_price'].sum()

# Finding the product type that generates the most revenue
highest_revenue_product_type = revenue_by_product_type.idxmax()
total_revenue_highest = revenue_by_product_type.max()

print(f'Product type generating the most revenue: {highest_revenue_product_type}')
print(f'Total revenue from the product type: {total_revenue_highest}')

Product type generating the most revenue: Jacket
Total revenue from the product type: 357026