Import all needed library and Mount Google Drive to Google Colab

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import all dataset

In [ ]:
custDf = pd.read_csv('../Dataset/customers.csv')
prodDf = pd.read_csv('../Dataset/products.csv')
orderDf = pd.read_csv('../Dataset/orders.csv')
salesDf = pd.read_csv('../Dataset/sales.csv')

Data Cleaning for Customers Dataset

In [ ]:
# Check custDf information
custDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   gender         1000 non-null   object
 3   age            1000 non-null   int64
 4   home_address   1000 non-null   object
 5   zip_code       1000 non-null   int64
 6   city           1000 non-null   object
 7   state          1000 non-null   object
 8   country        1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [ ]:
# Delete Unwanted Column
deleteCol = ['home_address', 'zip_code', 'city', 'state', 'country']
custDf.drop(deleteCol, axis=1, inplace=True)
custDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   gender         1000 non-null   object
 3   age            1000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [ ]:
# Check Null
custDf.isnull().sum()

customer_id      0
customer_name    0
gender           0
age              0
dtype: int64

In [ ]:
# Check Na
custDf.isna().sum()

customer_id      0
customer_name    0
gender           0
age              0
dtype: int64

In [ ]:
# Check duplication
custDf.duplicated().sum()

0

In [ ]:
custDf.head()

   customer_id        customer_name       gender  age
0            1        Leanna Busson       Female   30
1            2  Zabrina Harrowsmith  Genderfluid   69
2            3      Shina Dullaghan   Polygender   59
3            4        Hewet McVitie     Bigender   67
4            5       Rubia Ashleigh   Polygender   30

In [ ]:
# Check anomaly on Age column
custDesc = custDf.select_dtypes(include=np.number)
custDesc['age'].agg(['mean', 'max', 'min', 'std'])

mean    49.860000
max     80.000000
min     20.000000
std     17.647828
Name: age, dtype: float64

In [ ]:
# Check gender list and convert all unwanted gender to 'Intersex'
print("Gender list :", custDf['gender'].unique())
custDf.loc[~custDf['gender'].isin(['Male', 'Female']), 'gender'] = 'Intersex'
custDf.head(10)

Gender list : ['Female' 'Genderfluid' 'Polygender' 'Bigender' 'Agender' 'Male'
 'Genderqueer' 'Non-binary']

   customer_id        customer_name    gender  age
0            1        Leanna Busson    Female   30
1            2  Zabrina Harrowsmith  Intersex   69
2            3      Shina Dullaghan  Intersex   59
3            4        Hewet McVitie  Intersex   67
4            5       Rubia Ashleigh  Intersex   30
5            6       Cordey Tolcher  Intersex   40
6            7      Winslow Ewbanck  Intersex   76
7            8         Marlowe Wynn  Intersex   75
8            9    Brittaney Gontier      Male   51
9           10    Susanetta Wilshin  Intersex   70

In [ ]:
# Export cleaning result to customers.csv
custDf.to_csv('../CleanedDataset/customers.csv', index=False)

Data Cleaning for Products Dataset

In [ ]:
# Check prodDf information
prodDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_ID    1260 non-null   int64
 1   product_type  1260 non-null   object
 2   product_name  1260 non-null   object
 3   size          1260 non-null   object
 4   colour        1260 non-null   object
 5   price         1260 non-null   int64
 6   quantity      1260 non-null   int64
 7   description   1260 non-null   object
dtypes: int64(3), object(5)
memory usage: 78.9+ KB

In [ ]:
# Check Null
prodDf.isnull().sum()

product_ID      0
product_type    0
product_name    0
size            0
colour          0
price           0
quantity        0
description     0
dtype: int64

In [ ]:
# Check Na
prodDf.isna().sum()

product_ID      0
product_type    0
product_name    0
size            0
colour          0
price           0
quantity        0
description     0
dtype: int64

In [ ]:
# Check duplication
prodDf.duplicated().sum()

0

In [ ]:
prodDf.head()

,product_ID,product_type,product_name,size,colour,price,quantity,description
0,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt"

In [ ]:
# Check anomaly on price column
prodDesc = prodDf.select_dtypes(include=np.number)
prodDesc['price'].agg(['mean', 'max', 'min', 'std'])

mean    105.805556
max     119.000000
min      90.000000
std       9.704423
Name: price, dtype: float64

In [ ]:
# Check anomaly on quantity column
prodDesc = prodDf.select_dtypes(include=np.number)
prodDesc['quantity'].agg(['mean', 'max', 'min', 'std'])

mean    60.150000
max     80.000000
min     40.000000
std     11.670573
Name: quantity, dtype: float64

In [ ]:
# Check type of colour
print("Colour list :", prodDf['colour'].unique())

Colour list : ['red' 'orange' 'yellow' 'green' 'blue' 'indigo' 'violet']

In [ ]:
# Check type of size
print("Size list :", prodDf['size'].unique())

Size list : ['XS' 'S' 'M' 'L' 'XL']

In [ ]:
# Check type of product
print("Product type list :", prodDf['product_type'].unique())

Product type list : ['Shirt' 'Jacket' 'Trousers']

In [ ]:
# Export cleaning result to products.csv
prodDf.to_csv('../CleanedDataset/products.csv', index=False)

Data Cleaning for Orders Dataset

In [ ]:
# Check orderDf information
orderDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   object
 4   delivery_date  1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [ ]:
# Convert order_date and delivery_date datatype to datetime
orderDf["order_date"] = pd.to_datetime(orderDf["order_date"])
orderDf["delivery_date"] = pd.to_datetime(orderDf["delivery_date"])
orderDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   datetime64[ns]
 4   delivery_date  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 39.2 KB

In [ ]:
# Check Na
orderDf.isna().sum()

order_id         0
customer_id      0
payment          0
order_date       0
delivery_date    0
dtype: int64

In [ ]:
# Check Na
orderDf.isna().sum()

order_id         0
customer_id      0
payment          0
order_date       0
delivery_date    0
dtype: int64

In [ ]:
# Check duplicate
orderDf.duplicated().sum()

0

In [ ]:
# Check anomaly on payment column
orderDesc = orderDf.select_dtypes(include=np.number)
orderDesc['payment'].agg(['mean', 'max', 'min', 'std'])

mean    33972.936000
max     59910.000000
min     10043.000000
std     14451.609047
Name: payment, dtype: float64

In [ ]:
orderDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   datetime64[ns]
 4   delivery_date  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 39.2 KB

In [ ]:
# Export cleaning result to orders.csv
orderDf.to_csv('../CleanedDataset/orders.csv', index=False)

Data Cleaning for Sales Dataset

In [ ]:
# Check salesDf information
salesDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     5000 non-null   int64
dtypes: int64(6)
memory usage: 234.5 KB

In [ ]:
# Check Na
salesDf.isna().sum()

sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

In [ ]:
# Check Na
salesDf.isna().sum()

sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

In [ ]:
# Check duplicate
salesDf.duplicated().sum()

0

In [ ]:
# Check anomaly on price_per_unit column
salesDesc = salesDf.select_dtypes(include=np.number)
salesDesc['price_per_unit'].agg(['mean', 'max', 'min', 'std'])

mean    103.501600
max     119.000000
min      90.000000
std       9.195004
Name: price_per_unit, dtype: float64

In [ ]:
# Check anomaly on quantity column
salesDesc = salesDf.select_dtypes(include=np.number)
salesDesc['quantity'].agg(['mean', 'max', 'min', 'std'])

mean    1.99240
max     3.00000
min     1.00000
std     0.80751
Name: quantity, dtype: float64

In [ ]:
# Check whether total_price are already corrected or not
salesDf['calculated_total_price'] = salesDf['price_per_unit'] * salesDf['quantity']

is_correct = (salesDf['total_price'] == salesDf['calculated_total_price']).all()

if is_correct:
    print("The 'total_price' column is correct.")
else:
    print("There are inconsistencies in the 'total_price' column.")
    mismatched_rows = salesDf[salesDf['total_price'] != salesDf['calculated_total_price']]
    print("Mismatched Rows:")
    print(mismatched_rows)

salesDf.drop('calculated_total_price', axis=1, inplace=True)

The 'total_price' column is correct.

In [ ]:
salesDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     5000 non-null   int64
dtypes: int64(6)
memory usage: 234.5 KB

In [ ]:
# Export cleaning result to sales.csv
salesDf.to_csv('../CleanedDataset/sales.csv', index=False)